.aboutFrontArticle {
    width: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 160px 0 130px;
    margin-top: 10px;
}

.aboutFrontText,
.aboutFrontImage {
    width: 35%;
    display: flex;
}

.aboutFrontText {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.aboutFrontImage {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 1;
}

.aboutFrontImg {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.aboutFrontP {
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
}

.aboutFrontLink {
    text-align: center;
    font-size: 1.3rem;
    text-decoration: underline;
}

.aboutFrontLink:hover {
    color: rgb(255, 187, 0);
    /* color: rgb(76, 136, 204); */
}

@media (max-width: 1100px) {
    .aboutFrontArticle {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 90px 0;
    }
    .aboutFrontText,
    .aboutFrontImage {
        width: 80%;
        display: flex;
    }
    .aboutFrontText {
        margin-bottom: 70px;
        text-align: justify;
    }
}

@media (max-width: 500px) {
    .aboutFrontImage {
        width: 100%;
    }
    .aboutFrontText {
        text-align: left;
    }
}