.contactBox {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(128, 83, 200);
    border: 2px solid rgb(128, 83, 200);
    margin: 0 2px;
    font-size: 2.3rem;
}

.contactBox:hover {
    transform: scale(.8);
    background-color: rgb(128, 83, 200);
    color: inherit;
}