.conactMeArticle {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 50px;
}

.contactMeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin-bottom: 50px;
}

.contactMe {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.contactMeText {
    margin-bottom: 15px;
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
}

.resume {
    width: 208px;
    height: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(255, 187, 0);
    margin: 0 2px;
    font-size: 1.2rem;
}

.resume>* {
    color: rgb(255, 187, 0);
}

.resume:hover {
    transform: scale(.8);
    background-color: rgb(255, 187, 0);
    color: inherit;
}

.resume:hover * {
    color: inherit;
}

@media(max-width: 315px) {
    .contactMeWrapper {
        transform: scale(.8);
    }
}