@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    scroll-behavior: smooth;
    cursor: url(./cursor.png), auto;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    color: #fdfdfd;
    transition: .3s ease-in-out;
}

::selection {
    background-color: #000;
    color: red;
}