.goToDown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
    z-index: 2;
}

.goToDown:hover .goToDownLink {
    border-color: rgb(255, 187, 0) !important;
    color: rgb(255, 187, 0);
    /* border-color: rgb(76, 136, 204) !important; */
}

.goToDownLink {
    padding: 15px 15px;
    font-family: 'Permanent Marker', cursive;
    border: 3px solid;
    animation: blink .5s linear infinite;
}

.goToDownArrow {
    margin-left: 10px;
}

@keyframes blink {
    0% {
        border-color: transparent;
        /* transform: translateY(5px); */
    }
    50% {
        border-color: rgb(128, 83, 200);
        /* transform: translateY(0); */
    }
    100% {
        border-color: transparent;
        /* transform: translateY(5px); */
    }
}

@media (max-width: 768px) {
    .goToDown {
        width: 70%;
    }
    .goToDownLink {
        font-size: .8rem;
    }
}