.mainHeader {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome {
    display: flex;
    align-items: center;
    text-align: left;
    width: 80%;
    font-family: 'Yellowtail', cursive;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

@media (max-width: 550px) {
    .welcome {
        font-size: 1.7rem;
    }
}