.introArticle {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.introImg,
.introText {
    width: 50%;
    display: flex;
}

.introImg {
    width: 23%;
    align-items: center;
    justify-content: flex-end;
    transform: rotate(20deg);
    /* overflow: hidden; */
    position: relative;
}

.fisrtSVGWrapper,
.secondSVGWrapper,
.thirdSVGWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 0;
}

.fisrtSVGWrapper {
    transform: translate(-40%, -45%);
}

.secondSVGWrapper {
    transform: translate(-50%, -45%);
}

.thirdSVGWrapper {
    transform: translate(-40%, -43%);
}

.fisrtSVG {
    overflow: visible;
    animation: rotateSVG1 3s linear infinite;
    fill: rgb(128, 83, 200);
}

.secondSVG {
    overflow: visible;
    animation: rotateSVG2 5s linear infinite;
    fill: rgb(255, 187, 0);
}

.thirdSVG {
    overflow: visible;
    animation: rotateSVG2 13s linear infinite;
    fill: #D63A5F;
}

.fisrtSVG>path,
.secondSVG>path,
.thirdSVG>path {
    transform: translate(50%, 50%);
}

.imgWrapper {
    width: 100%;
    height: 100%;
    border-radius: 42% 35% 50% 37%;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.img {
    width: 110%;
    height: auto;
    transform: rotate(-20deg);
    background-color: transparent;
}

.introText {
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    margin-bottom: 5px;
}

.headIntro {
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100%; */
}

.headIntro::after,
.headIntro::before {
    content: '';
    width: 20%;
    height: 4px;
    background-color: rgb(128, 83, 200);
    position: absolute;
}

.headIntro::after {
    top: 50%;
    right: calc(100% + 20px);
    transform: translateY(-50%);
}

.headIntro::before {
    top: 50%;
    left: calc(100% + 20px);
    transform: translateY(-50%);
}

.textIntro {
    font-family: 'Yellowtail', cursive;
    font-size: 1.8rem;
    letter-spacing: 2px;
    /* width: 100%; */
    text-align: center;
}

.descIntro {
    list-style: disc;
    font-family: cursive, 'Courgette';
}

.descIntro>li {
    margin: 8px 0;
}

.introSpan {
    color: rgb(255, 187, 0);
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

@media (max-width: 768px) {
    .introArticle {
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }
    .introImg,
    .introText {
        width: 80%;
    }
    .introImg {
        width: 50%;
    }
    .introText {
        align-items: center;
        justify-content: center;
        margin-bottom: 40px
    }
}

@media (max-width: 500px) {
    .introText {
        width: 95%;
    }
    .descIntro {
        font-size: .8rem;
    }
}

@keyframes rotateSVG1 {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateSVG2 {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}