.project {
    width: 450px;
    height: 450px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    cursor: pointer;
}

.project:hover .projectBackDrop {
    background-color: transparent !important;
}

.project:hover .projectImg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.projectImg {
    width: 150%;
    height: 150%;
    position: absolute;
    top: -25%;
    left: -25%;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectBackDrop {
    width: 100%;
    height: 100%;
    /* background-color: rgba(32, 18, 54, 0.8); */
    position: absolute;
    opacity: .80;
    top: 0;
    left: 0;
    z-index: 1;
}

@media(max-width:1350px) {
    .project {
        width: 400px;
        height: 400px;
    }
}

@media(max-width:1200px) {
    .project {
        width: 300px;
        height: 300px;
    }
}

@media(max-width:900px) {
    .project {
        width: 300px;
        height: 300px;
        margin: 20px 3px;
    }
}

@media(max-width:612px) {
    .project {
        width: 450px;
        height: 450px;
        margin: 10px 0;
    }
}

@media(max-width:450px) {
    .project {
        width: 300px;
        height: 300px;
    }
}

@media(max-width:300px) {
    .project {
        width: 200px;
        height: 200px;
    }
}