.skillsArticle {
    width: 100%;
    padding: 130px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

@media(max-width:900px) {
    .skillsArticle {
        padding: 90px 0;
    }
}