.skill {
    width: 29%;
    /* height: 23px; */
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    background-image: linear-gradient(145deg, transparent, transparent);
}

.skill:hover {
    /* padding: 4px; */
    background-image: linear-gradient(145deg, rgba(200, 200, 200, .1), rgba(100, 100, 100, .5));
    box-shadow: 5px 10px 15px rgba(78, 78, 78, 0.2), -5px -10px 15px rgba(78, 78, 78, 0.2);
}

.skill:hover .skillProgress {
    background-color: transparent;
    transition: none;
}

.skill:hover .skillProgress2 {
    width: 100%;
    transition: 1s;
}

.skill:hover .skillPercent {
    color: #00B4D0;
    font-weight: bolder;
    font-size: 2.3rem;
}

.skillName {
    width: 40%;
    font-family: 'Courgette', cursive;
    font-size: 15px;
}

.skillProgressWrapper {
    width: 55%;
    height: 23px;
    border: 2px solid rgb(128, 83, 200);
    border-radius: 8px;
    padding: 0 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.skillProgress {
    height: calc(100% - 6px);
    background-color: #D63A5F;
    border-radius: 5px;
    overflow: hidden;
}

.skillProgress2 {
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: rgb(255, 187, 0);
}

.skillPercent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: .25s; */
    font-size: .85rem;
}

@media (max-width: 1420px) {
    .skillName {
        font-size: 13px;
        width: 45%;
    }
}

@media (max-width: 1080px) {
    .skill {
        width: 40%;
    }
}

@media (max-width: 780px) {
    .skill {
        width: 45%;
    }
    .skillName {
        width: 48%;
        font-size: 11px;
    }
    .skillProgressWrapper {
        width: 52%;
    }
}

@media (max-width: 560px) {
    .skill {
        width: 90%;
    }
    .skillName {
        width: 46%;
        font-size: 12px;
    }
    .skillProgressWrapper {
        width: 54%;
    }
}

@media (max-width: 315px) {
    .skillName {
        font-size: 10px;
        letter-spacing: .5px;
    }
    .doubleDot {
        display: none;
    }
}