.worksArticle {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 130px 0;
}

@media(max-width:900px) {
    .worksArticle {
        flex-flow: row wrap;
        padding: 90px 0;
    }
}